<script >

</script>
<section class="row content">
    <div class="container-fluid input-container">
        <%- partial('_mapInput') %>
        <%- partial('_map') %>
    </div>
</section>    
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/js/application.js"></script>
<% for(var i=0; i<text.rows.length; i++) {%>

    <script type="text/javascript">
        setTimeout(function(){
        markPoint(<%= text.rows[i]['latitude'] %>, <%= text.rows[i]['longitude']%>, '<%= text.rows[i]['nome']%>' );       
        },2000);
        
        
    </script>

<% } %>