<section class="row header">
    <div class="col-md-12">
        <h1 class="title">Vou de Bike!</h1>
        <span class="subtitle">Escolha seu destino e diremos a você como ir de bike!</span>
    </div>
</section>

<section class="row input-targets">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label for="targetFrom">Você está em:</label>
            <input type="text" name="from" id="targetFrom" class="form-control" placeholder="Preenchido automaticamente" />
        </div>
        <div class="form-group">
            <label for="targetTo">Você vai para:</label>
            <input type="text" name="to" id="targetTo" class="form-control" placeholder="Digite o destino"/>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default">Ir de Bike</button>
        </div>
    </form>

<section>

<section class="row map-container">
    <div class="col-md-12">
        <div class="map-placeholder">
            Me diga onde você quer ir de Bike, e te direi como!
        </div>
    </div>
</section>    
