<!DOCTYPE html>
<html>
	<head>
		<title>Vou de Bike POA!</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Vou de Bike POA" />
		<meta name="keywords" content="Vou de Bike, datapoa, open-data, opendata, bike, bicicleta, bikepoa" />
		<meta name="robots" content="index, follow" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://voudebykepoa.com.br" />
		<meta property="og:title" content="Vou de bike POA" />
		<meta property="og:image" content="http://www.voudebikepoa.com.br/images/logo.png" />
		<meta property="og:description" content="Escolha seu destino e diremos a você como ir de bike utilizando o BikePoa!"/>
		<meta property="og:site_name" content="Vou de bike POA" />

		<link rel="icon" type="image/png" href="/images/bike.png">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

		<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	</head>

	<body>
		<header class="row">
			<div class="col-md-12">
				<a href="/"><img src="/images/logo.png" class="logo"></a>
				<div class="subtitle">Escolha seu destino e diremos a você como ir de bike utilizando o BikePoa!</div>
			</div>
		</header>

		<section id="content" class="row">
			<%- body %>
		</section>

		<footer class="row">
			<div class="social-links col-md-12">
				<%- partial('social/facebook') %>
				<%- partial('social/google') %>
				<%- partial('social/twitter') %>
				<%- partial('social/github') %>
			</div>
			<div class="col-md-12 credits">
				Projeto de <a href="http://github.com/umovers/voudebike">código aberto</a> construído durante o evento <a href="http://www.sucesurs.org.br/evento/guday-2014">GuDay</a> promovido pela <a href="http://www.sucesurs.org.br">Sucesu-RS</a>.<br>
				Utiliza dados de fontes abertas de Prefeitura Municial de Porto Alegre distribuidos pelo portal <a href="http://datapoa.com.br">datapoa</a>.<br>
				Construido e mantido com todo o amor do mundo por <a href="https://github.com/umovers/voudebike/contributors">este time</a>.
			</div>
		</footer>
		<%- partial('_ga') %>
	</body>
</html>
