<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Vou de Bike!</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <header></header>
        <section id="content">
            <%- body %>
        </section>
        <footer class="row">
            <div class="cold-md-12">
                Construido e mantido com todo o amor do mundo por [botar o github de cada um aqui]
            </div>
        </footer>
    </body>
</html>
