/*Monkey patch no bootstrap*/
.row {
    margin: 0;
}

body {
    overflow-x: hidden;
}

header {
    background: url(/images/background.jpg);
    background-position: bottom;
    background-size: 100%;
    color: #fff;
    text-align: center;
    padding: 2em 3em 3em 3em;
    box-shadow: 2px 2px 2px #888;
}

@media (max-width: 600px) {
    header {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    header img {
        width: 100%;
    }
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px #aaa;
}

section.content {
    color: #888;
    min-height: 350px;
    text-align: center;
    padding: 0;
}

.input-container form {
    padding: 1em;
}

.input-container input {
    min-width: 300px;
}

footer {
    text-align: center;
    color: #888;
}

#map-canvas {
    height: 500px;
    margin: 0px;
    padding: 0px
}

.social-links {
    text-align: center;
    margin-top: 2em;
}

.social-link {
    display: inline-block;
    vertical-align: top;
}

.credits {
    padding: 2em;
}
