
<form id="map-input-form" role="form" class="form-inline">
    <div class="form-group">
        <label for="targetFrom">Você está em:</label>
        <input type="text" name="from" id="targetFrom" class="form-control" placeholder="Preenchido automaticamente" />
    </div>
    <div class="btn-group">
        <label for="targetTo">Quer ir para:</label>
        <input type="text" name="to" id="targetTo" class="form-control" placeholder="Digite o destino"/>
        <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" id="routeButton">Ir de Bike</button>
    </div>
</form>
